[run]
source =
    kuknos_sdk/
    tests/

[report]
omit =
    .xdr/*
    kuknos_sdk/xdr/*
    kuknos_sdk/vendor/*
    setup.py

exclude_lines =
    pragma: no cover

    def __repr__
    def __str__
    if self\.debug

    raise AssertionError
    raise NotImplementedError

    if 0:
    if __name__ == .__main__.:
